.header {
  height: 34vw;
  margin: 30px auto;
  background: url('/header_img.png') no-repeat;
  background-size: contain;
  position: relative;
}

.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 1s ease-in-out;
}

.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}

.header-contents p {
  font-size: max(1.5vw, 12px);
  color: white;
}

.header-contents button {
  border: none;
  color: #747474;
  background-color: white;
  padding: 1vw 2.3vw;
  font-weight: 500;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}