.food-item {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  animation: fadeIn 0.5s ease;
}

.food-item:hover {
  transform: scale(1.02);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.food-item-img-container {
  position: relative;
}

.food-item-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.food-item-img-container .add {
  width: 35px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
}

.food-item-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
}

.food-item-counter img {
  width: 30px;
  cursor: pointer;
}

.food-item-counter p {
  margin: 0;
  font-weight: 500;
}

.food-item-info {
  padding: 20px;
}

.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.food-item-name-rating p {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.food-item-name-rating img {
  width: 70px;
}

.food-item-desc {
  color: #676767;
  font-size: 12px;
  margin: 0;
}

.food-item-price {
  color: tomato;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0 0 0;
}